<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Matt Deal</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="/static/amcharts/plugins/export/export.css" type="text/css" media="all" />

    <!--  Scripts-->

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>



    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery.textfill.js"></script>

    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/init.js"></script>

    <script src="/static/js/heading.js"></script>
    <script src="/static/amcharts/amcharts.js"></script>
    <script src="/static/amcharts/gauge.js"></script>
    <script src="/static/amcharts/serial.js"></script>





</head>



