@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

@font-face {
  font-family: Cherishline_Script;
  src: url('/assets/fonts/Cherishline_Script.otf') format("opentype"),
    url('/assets/fonts/Cherishline_Script.ttf') format('truetype');
  display: swap;
}


:root {
  --Roboto: 'Roboto', sans-serif;
  --Alfa: 'Alfa Slab One', cursive;
  --Main_Button: rgb(238, 151, 166);
  --content: rgb(129, 129, 129);
  --shadow: 2px 2px 2px #bcbcbcad;
}


.h1 {
  font-size: 20px;
  font-weight: normal !important;
}

h1 {
  font-weight: 500 !important;
}

.h2 {
  font-weight: 600 !important;
}

h2 {
  font-weight: 600 !important;
}

.h3 {
  font-weight: 600 !important;
}

h3 {
  font-weight: 600 !important;
}



/* Protekt  */
.header_protekt {
  color: #3dd12e;
  font-size: 45px;
  font-weight: 700;
}

.subheader_protekt {
  color: #fff;
  font-size: 16px;
}

.banner_protekt {
  padding: 80px;
  text-align: center;
  background: #000;
}

/* Fulcrum  */

.header_Fulcrum {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  font-family: var(--Roboto);
}

.subheader_Fulcrum {
  color: #fff;
  font-size: 16px;
  font-family: var(--Roboto);
}

.banner_Fulcrum {
  padding: 80px;
  text-align: center;
  background: #5c02cc;
}

/* LA Neon  */

.header_LA {
  color: #000;
  font-size: 10rem;
  font-family: "Cherishline_Script";

}

.subheader_LA {
  color: #000;
  font-size: 16px;
}

.banner_LA {
  padding: 80px;
  text-align: center;
  background: #fbe2e1;
}


.BorderSize {
  width: 60rem;
}

.row {
  bs-gutter-x: 0rem !important;
}

.PhoneImage {
  width: 50rem;
  margin-top: 15rem;
  margin-left: 17rem;
  transition: ease 500ms;
}

.PhoneImage:hover {
  transform: scale(1.3);

}

.Text-distance {
  width: 50ch;
}

.Text-distance-Header {
  width: 20ch;
}

.About-content>p {
  width: 60ch;
  color: var(--content);
  line-height: 1.7rem;
  padding: 0.7rem;
  font-family: var(--Roboto);
  text-align: left;
  margin: auto;
  font-size: 1.3rem;
}

.About-content.a {
  color: #818cf8;
  font-weight: 600;
}

.AboutContainer {
  margin-top: 24px;
  margin-bottom: 10px;
}

.Section-Title {
  color: var(--content);
  font-family: var(--Roboto);
  margin: auto;
  width: 22rem;
  padding-bottom: 5px;
  text-align: center;
}

.Section-Title-Header {
  text-align: center;
  font-family: var(--Roboto);
  font-size: 40px;
  font-weight: bold;

}



@media (max-width: 1000px) {

  .About-content>p {
    width: 25ch;
    font-size: 1.5rem;
    color: var(--content);
    line-height: 1.7rem;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .Section-Title {
    color: var(--content);
    font-size: 1.5rem;
    width: 30ch;

  }

  .PhoneImage {
    display: none;
  }

}



.backgroundStripe {
  background: linear-gradient(to bottom right, #818cf8 50%, white 50%);
  min-height: 5rem;
}

@media (max-width: 1000px) {
  .backgroundStripe {
    background: #818cf8 50%;
    min-height: 40rem;
  }

}

/* .backgroundStripe2{
  background: linear-gradient(to top left, #fff 90%, #818cf8 10%);
} */

.backgroundStripe3 {
  background: linear-gradient(to top left, #818cf8 50%, #fff 50%);
  padding-bottom: 5rem;
}


.logo {
  font-size: 48px;
  color: rgb(209 213 219);
  font-family: var(--Roboto);
  text-decoration: none;
}

.logo:hover {
  color: #333;
  text-decoration: none;
}

.navbar1 {
  width: 90rem;
  display: flex;
  background-color: #818cf8;
  padding: 10px 30px;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  align-items: flex-end;
  justify-content: space-between;

}

.navbar1 ul {
  display: flex;

}


.navbar1 ul li a {
  color: rgb(209 213 219);
  font-size: 15px;
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
}

.navbar1 ul li a:hover {
  color: #333;
  text-decoration: none;
}

@media screen and (min-width: 3000px) {
  .navbar1 {
    background-color: #818cf8;
    width: 150rem;
  }

  .navbar1 ul li a {
    font-size: 2rem;
  }
}

@media (min-width: 2200) {
  .navbar1 {
    width: 90rem;
    display: flex;
    background-color: #818cf8;
    padding: 10px 30px;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    align-items: flex-end;
    justify-content: space-between;
  }




  .navbar1 ul {
    display: flex;

  }


  .navbar1 ul li a {
    color: rgb(209 213 219);
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
  }

  .navbar1 ul li a:hover {
    color: #333;
    text-decoration: none;
  }

}

@media (max-width: 1000px) {
  .navbar1 {
    display: none;
  }
}

@media (min-width: 1000px) {
  .navbar2 {
    display: none;
  }
}



@media (max-width: 1000px) {
  .navbar2 {
    display: flex;
    background-color: #818cf8;
    padding-top: 1rem;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: flex-start;
    justify-content: space-between;
  }

  .navbar2 ul {
    display: flex;

  }


  .navbar2 ul li a {
    color: rgb(209 213 219);
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
  }

  .navbar2 ul li a:hover {
    color: #333;
    text-decoration: none;
  }

  .logo2 {
    font-size: 15px;
    color: rgb(209 213 219);
    font-family: var(--Roboto);
    text-decoration: none;

  }

  .hrColor {
    color: white;
    width: 24rem;
  }
}




.imageSize {
  width: 40%;
  flex-grow: 1;
}



.myForm {
  width: 30rem;
  margin-right: 25rem;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #bcbcbcad;
  box-shadow: 2px 2px 2px #bcbcbcad;
  padding: 1.8em;
  font-size: 1.2rem;
}

.message {
  order: 2;
  margin: auto;
  border-right: #bcbcbcad solid;
}

.message>textarea {
  flex: 1;
  min-width: 14em;
}

.contact {
  margin: auto;
  width: 32rem;
  order: 1;

}

.contact-Button {
  margin: auto;
  width: 50%;
}

.flex-contact {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  margin-top: 5rem;
  padding: 3rem;

}

.footer-text {
  font-family: var(--Roboto);
  font-size: 1rem;
  line-height: 1.8rem;
  margin-left: 10rem;
}

.Footer-Link {
  text-decoration: none;
  color: var(--content);
  font-weight: 700;

}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-info {
  padding: 2rem;
  padding-right: 5rem;
  margin: auto;
  font-family: var(--content);
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.Footer-center-text {
  text-align: center;
  width: 25rem;
}

.contact input {
  width: 80%;
  padding: 1rem;
  margin-top: 1rem;
}

.img_message>textarea {
  width: 80%;
  padding: 1rem;
  margin-top: 1rem;
}

.contact input:focus::placeholder {
  color: #707efb;
  font-weight: 600;
}


.messageBox:focus::placeholder {
  color: #707efb;
  font-weight: 600;
}

.Contact_Image {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@media screen and (min-width: 3000px) {
  .footer-text {
    margin-left: 50rem;
  }

  .myForm {
    margin-right: 60rem;
  }

  .footer-info {
    margin-right: 10rem;

  }

}

@media (max-width: 1000px) {
  .myForm {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #bcbcbcad;
    box-shadow: 2px 2px 2px #bcbcbcad;

    font-size: 1.2rem;
  }

  .contact {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 0;
    width: 100%;
    order: 1;
    padding: 0 0 0 0;
  }

  .img_message>textarea {
    display: flex;
    flex-direction: column;
    width: 100%;

  }




  .message {
    display: none;

  }
}



.Nav-list {
  font-family: var(--Roboto);
  color: #fff;
}

.topHeader {
  margin-top: 10rem;
  padding-bottom: 1rem;
  font-family: var(--Roboto);
  width: 16ch;
  line-height: 4.5rem;
  font-size: 5.4rem !important;

}



.TopSubHeader {
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 45ch;
  font-family: var(--Roboto);
  line-height: 1.8rem;
  color: rgb(209 213 219);
  font-size: 1.2rem !important;
}

.TopContainer {
  padding-bottom: 25rem;
}

.mainButton {
  width: 10rem;
  padding: 5px;
  cursor: pointer;
  border: rgb(238, 151, 166);
  background-color: var(--Main_Button);
  border-radius: 4px 4px 4px 4px;
  font-family: var(--Roboto);
  font-size: 1.5rem;
  color: #fff;
  box-shadow: 2px 2px 2px 2px solid rgb(172, 172, 172);
}

.mainButton:hover {
  background-color: rgb(238, 129, 147)
}

.mainButton:active {
  background-color: rgb(243, 142, 159)
}

.BlogCard {
  padding-bottom: .2rem;
  margin: 2rem;
  width: 23rem;
  min-height: 25rem;
  transition: 500ms ease-in-out;
  box-shadow: 0 15px 10px #00000033;

}

.BlogCard:hover {
  transform: scale(1.2);
}



.BlogContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}



.blog-Card-Inner-Container {
  padding: 2rem;
  line-height: 1.5rem;

}

.blog-title {
  line-height: 2.2rem;
  width: 18ch;

}

.blog-title-flex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
  width: 84%;
}

.blog-excerpt {
  line-height: 1.5rem;
  font-style: italic;
  width: 35ch;

}

.blog-date {
  font-size: .8rem;
}

.blog-link {
  text-decoration: none;
}



.Section-Title-Blog-Header {
  text-align: center;
  font-family: var(--Roboto);
  font-size: 3rem;
  font-weight: bold;
  margin-top: 3rem;

}

.Blog-main-container {
  background: linear-gradient(to bottom right, #818cf8 50%, white 50%);
  min-height: 5rem;
}

.blog-image {
  width: 22.9rem;

}


@media(max-width: 1000px) {
  .BlogContainer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

  }

  .Blog-main-container {
    background: #fff;
    min-height: 5rem;
  }
}



.post-Container {
  width: 100ch;
  font-family: var(--Roboto);
  line-height: 1.5rem;
  color: black;
  margin: auto;
  padding: 20px;
  text-align: left;
  justify-content: center;
  font-size: 1.2rem;

}

.post-Header {
  padding-top: 4rem;
  color: #e4e4e4;
  font-weight: 800;
  font-size: 5.5rem;
  background-color: #000;
  padding: 1rem;
}

.Markdown {
  line-height: 1.5rem;
  justify-content: center;
  align-content: center;
  color: #0d0d0e;
  font-size: 1.2rem;
  background-color: rgb(248, 248, 248);
  padding: 1.5rem;
}


@media (max-width: 1000px) {
  .Markdown {
    line-height: 1.5rem;
    justify-content: center;
    align-content: center;
    color: #0d0d0e;
    font-size: .8rem;
    background-color: #fff;
    padding: 1.5rem;
    width: 50ch;
  }


  .post-Header {
    padding-top: 4rem;
    color: #e4e4e4;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: #000;
    padding: 1rem;
    width: 32ch;
  }

  .codeBackground {
    width: 100%;
  }



}

.Post-background {
  min-height: 100rem;
  background: #818cf8;
}

.codeBackground {
  background: #15161d !important;
}

@media (max-width: 1000px) {
  .Responsive-Container>p {
    width: 30ch;
    justify-content: left;
    color: #fff;
  }
}

@media (max-width: 1000px) {
  .Responsive-Container>h1 {
    margin-top: 5px !important;
    font-size: 3rem !important;
    font-weight: 600;
    width: 15ch;
  }
}

.Home_button {
  text-decoration: none;
  color: #ffffff;
  background-color: #212529;
  border-radius: 5px;
  box-shadow: 0 10px 10px #00000033;
  padding: 8px;
}


.Home_button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #818cf8;
}

.Project_Nav {
  background-color: #000;
  padding: 0.5rem;
  position: sticky;
  top: 0;

}

.La_Nav {
  background-color: #fbe2e1;
  padding: 0.5rem;

}

.Ful_Nav {
  background-color: #5c02cc;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}

.button_Style {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #3dd42f;
  border: solid #3dd42f;
}

.button_Style:hover {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #42e92f;
}

.btnContent {
  text-align: center;
  margin: auto;
}

.BlogButton {
  text-decoration: none;
  padding: 0.5rem;
  width: 5rem;
  margin-left: 1rem;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #3dd42f;
  border: solid #3dd42f;
}

.BlogButton:hover {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #42e92f;
  border: solid #42e92f;
}



.Probtn {
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 1rem;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #3dd42f;
}

.Probtn:hover {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #42e92f;
  border: solid #42e92f;
}


.projects-btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.flex-Button {
  display: flex;
  flex-direction: row;

}

.Protekt-home {
  padding-left: 1rem;
  text-decoration: none;
  color: #000;
  font-family: var(--Roboto);
}

.LaBlogButton {
  text-decoration: none;
  padding: 0.5rem;
  width: 5rem;
  margin-left: 1rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #000;
  border: solid #000;
}

.LaBlogButton:hover {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #fbeeee;
  border: solid #fbeeee;
}

.Labtn {
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 1rem;
  color: white;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #000;
  border: solid #000;
}

.Labtn:hover {
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #fbeeee;
  border: solid #fbeeee;
}


.Ful_Button_style {
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 1rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #000;
}

.Ful_Button_style:hover {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #8a4ad8;
  border: solid #8a4ad8;
}

.FulBlog {
  text-decoration: none;
  padding: 0.5rem;
  width: 5rem;
  margin-left: 1rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #000;
}

.FulBlog:hover {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: var(--Roboto);
  background-color: #8a4ad8;
  border: solid #8a4ad8;
}

.flex-arrow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: baseline;
}

.ArrowSpace {
  padding-right: 0.5rem;
}


.La_Home_button {
  text-decoration: none;
  color: #212529;
}

.Fulcrum_Home_button {
  text-decoration: none;
  color: #212529;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.Protekt-arrow {
  border: solid #3dd12e;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.Protekt-arrow:hover {
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.La-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.LA_Nav {
  background-color: #fbe2e1;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}

.Fulcrum-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.Return_Blog_button {
  text-decoration: none;
  color: #808185;
  padding: 5px;
  margin-bottom: 2rem;
}

.Return_Blog_button:hover {
  color: #000;
  font-weight: 700;
  background-color: #fff;
}

.return_arrow {
  border: solid #a4a8bb;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.return_arrow:hover {
  border: solid #fff !important;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  color: #000;

}



.socials {
  margin: 1rem;

}

.SocialBackground {
  background-color: #fff;
  padding-left: .5rem;
  padding-right: .3rem;
  width: 8rem;
  border-radius: 5px 5px 5px 5px;
  border: solid rgb(187, 182, 182) 1px;
  box-shadow: 0 15px 10px #00000033;
  transition: 500ms ease-in-out;

}

.SocialBackground:hover {
  transform: scale(1.2);
}


.Twittersocials .social-svg-mask {
  fill: rgb(37, 184, 219) !important;
}

.Twittersocials .sodcial-svg-mask:hover {
  fill: rgb(56, 207, 245) !important;
}

.Twittersocials {
  transition: 500ms ease-in-out;
}

.Twittersocials:hover {
  transform: scale(1.2);


}

.Gitsocials {
  transition: 500ms ease-in-out;
}

.Gitsocials:hover {
  transform: scale(1.2);
}

.Gitsocials .social-svg-mask {
  fill: rgb(0, 0, 0) !important;
}

.Linkedinsocials .social-svg-mask {
  fill: rgb(0, 105, 146) !important;
}

.Linkedinsocials .social-svg-mask:hover {
  fill: rgb(12, 150, 204) !important;
}

.Linkedinsocials {
  transition: 500ms ease-in-out;
}

.Linkedinsocials:hover {
  transform: scale(1.2);

}

.Author {

  line-height: .5;
  font-size: .8rem;
}

.Problem_Statment {
  font-size: 4.8rem;
  margin: auto;
  width: 100%;
  padding: 2rem;
  font-family: var(--Alfa)
}

.Problem_Statment_map {
  font-size: 2.8rem;
  margin: auto;
  width: 100%;
  padding: 2rem;
  font-family: var(--Alfa)
}

.Problem_Statment_Tech {
  font-size: 4rem;
  margin: auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-family: 'Faster One', cursive;
}

.Tech_div {
  padding-bottom: 5rem;

}

.Tech_div_Index {
  padding-bottom: 5rem;
  padding-top: 1rem;
}


.Problem_Statment_Event {
  font-size: 1.8rem;
  color: rgb(83, 81, 81);
  margin: auto;
  width: 100%;
  padding: 2rem;
  font-family: var(--Alfa)
}

.Problem-Statement-Text {
  font-size: 1.9rem;
  padding-top: 1rem;
  width: 70ch;
  line-height: 2rem;
  color: rgb(44, 42, 42);
  font-family: var(--Roboto);
}



.layout {
  padding-bottom: 4.8rem;
}

.flex-text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.flex-image-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;

}

.flex-image-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Protekt_pc {
  width: 40rem;
}

.Pro-Tekt-Link {
  text-decoration: none;
  font-size: 1.7rem;
  color: #0a58ca;
}

.Map {
  width: 40rem;
  margin: 3rem;
  box-shadow: 0 15px 10px #00000033;
  transition: ease 500ms;
}

.Map:hover {
  transform: scale(1.8);
}

.Menu {
  max-height: 30rem;
  margin-right: 12rem;
  margin-left: 1rem;
  box-shadow: 0 15px 10px #00000033;
  transition: ease 500ms;
}

.Menu:hover {
  transform: scale(1.8);
}

.Event {
  max-height: 50rem;
  margin-right: 5rem;
  margin-left: 1rem;
  box-shadow: 0 15px 10px #00000033;
  transition: ease 500ms;
}

.Event:hover {
  transform: scale(1.1);
}

.History {
  max-height: 20rem;
  margin: 2rem;
  box-shadow: 0 15px 10px #00000033;
  transition: ease 500ms;
}

.History:hover {
  transform: scale(1.8);
}

.LaLogo {
  width: 25rem;
  margin: 1rem;
}

.Instagram {
  width: 40rem;
  transition: ease 500ms;
  margin: 1rem;
  box-shadow: 0 15px 10px #00000033;
}

.Instagram:hover {
  transform: scale(1.8);

}

.Product {
  width: 20rem;
  transition: ease 500ms;
  margin: 1rem;
  box-shadow: 0 15px 10px #00000033;
}

.Product:hover {
  transform: scale(1.8);

}

.Cart {
  width: 20rem;
  transition: ease 500ms;
  margin: 2rem;
  box-shadow: 0 15px 10px #00000033;
}

.Cart:hover {
  transform: scale(1.8);
}

.Checkout {
  width: 40rem;
  transition: ease 500ms;
  margin: 2rem;
  box-shadow: 0 15px 10px #00000033;
}


.Checkout:hover {
  transform: scale(1.8);
}

.Custom {
  width: 25rem;
  transition: ease 500ms;
  margin: 2rem;
}

.Custom:hover {
  transform: scale(1.8);
}

.tech-flex {
  display: flex;
  justify-content: space-around;
  font-size: 3.5rem;
}

@media (max-width: 1000px) {
  .tech-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.React {
  color: #5ed3f3;

}

.Redux {
  color: #7d42bf;
}

.JS {
  color: #efd81d;
}

.CSS {
  color: #254bdd;
}

.Tailwind {
  color: #0bb0cd;
}

.Bootstrap {
  color: #6f11ef;
}

.Storyblok {
  color: #09adaa;
}

.Stripe {
  color: #646ede;
}

.Netlify {
  color: #30b0b4;
}

.Firebase {
  color: #f7c52c;
}

.Python {
  color: #3674a9;
}

.HTML {
  color: #f16529;
}

.Remix {
  width: 4.5rem;
  max-height: 4rem;
  margin-top: 1rem;
}

.Mail {
  color: #818cf8;
}

.Phone {
  color: var(--Main_Button);
}