@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


/* Protekt  */
.header_protekt {
  color: #3dd12e;
  font-size: 45px;
  font-weight: 700;
}

.subheader_protekt {
  color: #fff;
  font-size: 16px;
}

.banner_protekt {
  padding: 80px;
  text-align: center;
  background: #000;
}

/* Fulcrum  */

.header_Fulcrum {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  font-family: Rubik, sans-serif;
}

.subheader_Fulcrum {
  color: #fff;
  font-size: 16px;
  font-family: Rubik, sans-serif;
}

.banner_Fulcrum {
  padding: 80px;
  text-align: center;
  background: #5c02cc;
}

/* LA Neon  */

.header_LA {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

.subheader_LA {
  color: #000;
  font-size: 16px;
}

.banner_LA {
  padding: 80px;
  text-align: center;
  background: #fbe2e1;
}


.BorderSize {
  width: 60rem;
}

.row {
  bs-gutter-x: 0rem !important;
}

.PhoneImage {
  width: 30rem;
}

.Text-distance {
  width: 50ch;
}

.Text-distance-Header {
  width: 20ch;
}

.About-content>p {
  width: 60ch;
  color: rgb(129, 129, 129);
  line-height: 1.7rem;
  padding: 5px;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.About-content.a {
  color: #818cf8;
  font-weight: 600;
}

.Section-Title {
  color: rgb(129, 129, 129)
}

@media (max-width: 1000px) {

  .About-content>p {
    width: 25ch;
    font-size: 1.5rem;
    color: rgb(129, 129, 129);
    line-height: 1.7rem;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .Section-Title {
    color: rgb(129, 129, 129);
    font-size: 1.5rem;
    width: 30ch;

  }

}

@media (max-width: 1000px) {
  .Responsive-Container>p {
    width: 30ch;
    justify-content: left;
    color: #fff;
  }
}

@media (max-width: 1000px) {
  .Responsive-Container>h1 {
    font-size: 2.2rem;
    font-weight: 600;
    width: 19ch;
  }
}

@media (max-width: 1000px) {
  .PhoneImage {
    display: none;
  }

}


.backgroundStripe {
  background: linear-gradient(to bottom right, #818cf8 50%, white 50%);
  min-height: 5rem;
}

@media (max-width: 1000px) {
  .backgroundStripe {
    background: #818cf8 50%;
    min-height: 40rem;
  }

}

/* .backgroundStripe2{
  background: linear-gradient(to top left, #fff 90%, #818cf8 10%);
} */

.backgroundStripe3 {
  background: linear-gradient(to top left, #818cf8 50%, #fff 50%);
}


.logo {
  font-size: 48px;
}

.navbar1 {
  margin-right: 500px;
  display: flex;
  background-color: #818cf8;
  padding: 10px 30px;
  flex-wrap: wrap;
  align-items: center;
}

.navbar1 ul {
  display: flex;

}


.navbar1 ul li a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-left: 30px;
}

.navbar1 ul li a:hover {
  color: #333;
  border-bottom: 1px solid #333;
}



.imageSize {
  width: 40%;
  flex-grow: 1;
}



.myForm {

  display: flex;
  width: 60%;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid #bcbcbcad;
  box-shadow: 2px 2px 2px #bcbcbcad;
  padding: 1.8em;
  font-size: 1.2rem;
}


.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  order: 2;
  width: 70%;
}

.message>textarea {
  flex: 1;
  min-width: 14em;
}

.contact {
  padding-left: 6.8rem;
  padding-top: 1.8rem;
  border: 0;
  width: 50%;
  order: 1;
  margin-right: 0.5rem;
  flex-grow: -1;
}



.contact input {
  width: 80%;
  padding: 1rem;
}

.img_message>textarea {
  width: 80%;
  padding: 1rem;
}

.contact input:focus::placeholder {
  color: #707efb;
  font-weight: 600;
}


.messageBox:focus::placeholder {
  color: #707efb;
  font-weight: 600;
}

.Contact_Image {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@media (max-width: 1000px) {
  .myForm {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #bcbcbcad;
    box-shadow: 2px 2px 2px #bcbcbcad;

    font-size: 1.2rem;
  }

  .contact {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 0;
    width: 100%;
    order: 1;
    padding: 0 0 0 0;
  }

  .img_message>textarea {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .Contact_Button {
    display: flex;
    flex-wrap: wrap;
  }


  .message {
    display: none;

  }
}